#view-items
{
	margin-left: 30px;
	margin-bottom: 50px;
}

/* Common styling */
.plu-item .plu-price
{
	font-family: "Segoe UI Light", "Helvetica", Garuda, Arial, sans-serif;
}

/* PLU Item */
.plu-item .plu-information span
{
	font-size: 2.265em;
	color: #222;
}

.plu-item
{
	margin-top: 50px;
	margin-bottom: 50px;
}

.plu-item .plu-image
{
	display: inline-block;
	float: left;
	width: 200px;
	text-align: center;
}

.plu-item .plu-image img
{
	max-width: 200px;
	width: auto;
	-webkit-box-shadow: 0 0 10px #434343;
	-moz-box-shadow: 0 0 10px #434343;
	box-shadow: 0 0 10px #434343;
}

.plu-item .plu-details
{
	display: inline-block;
	float: left;
	width: 450px;
	margin-left: 10px;
}

.plu-item .plu-information
{
	display: inline-block;
	float: left;
	margin: 0 20px;
}

.plu-item .plu-price
{
	margin-left: 20px;
	clear: left;
}

.plu-item .plu-price span
{
	display: inline-block;
	float: left;
	color: #434343;
	font-size: 2.265em;
}

.plu-item .plu-controls
{
	display: inline-block;
	float: right;
	width: 160px;
    margin-right: 10px;
}

.plu-item .plu-controls .add-to-cart
{
	display: inline-block;
	margin-top: 3px;
}

.plu-item .plu-controls .loading
{
    display: none;
    margin-top: 10px;
    float: left;
}

.plu-item .plu-information .plu-more-info
{
	display: none;
}

#renew-items .renew-error
{
    margin-left: 10px;
    margin-bottom: 12px;
    color: #E51400;
}

#renew-items .renew-error p
{
    font-size: 1.4em;
}

#renew-items .renew-error ul
{
    margin-left: 24px;
}