<link href="~/Content/default/cart/css/Cart.css" rel="stylesheet" type="text/css" />
<script src='https://www.google.com/recaptcha/api.js'></script>

<form method="post">

    <h2>Reserved Seat Tickets</h2>
    <div class="g-recaptcha" data-sitekey="6LetswATAAAAAJAH6Fx5XWTKUfx0HJxC6A-ok_Dc"></div>
    <button type="submit">Continue</button>

</form>