@{
    ViewBag.Title = "Exists";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/surveys.css")" />

<span id="ExistsCompletedMessage">[L:SurveyCompleted]</span>

<br />
<br />

<span id="ExistsThankYouMessage">[L:SurveyThankYou]</span>