@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-cloak>
<head>
    <title>Theme Editor Disabled</title>
</head>
<body>
    <div>
        <h1>The Theme Editor is disabled.</h1>
    </div>
</body>
</html>
